@media only screen and (max-width: 1023px) {
    
    .hero-desc {
        transform: translate(5px, -90px) rotate(-70deg);
    }

    .about-list {
        flex-wrap: wrap;
    }

    .about-heading-main h1 {
        padding-right: 1rem;
    }

    .about-heading-main h1 span {
        font-size: 2.8rem;
    }

    .about-item {
        flex-basis: 40%;
        margin-bottom: 2rem;
    }

    .about-item:last-child {
        display: unset;
    }

    .techs-list {
        flex-wrap: wrap;
        gap: 20px;
    }

    .techs-item {
        flex-basis: 40%;
    }

    .footer-contact-heading h1,
    .footer-contact-heading span {
        font-size: 6rem;
    }
}